.bg-image {
	background: url('./images/vector-background-with-decorative-puppy-icons.jpg')
		no-repeat center center/cover;
	background-color: rgba(255, 255, 255, 0.4);
	background-blend-mode: screen;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: -1;
}

.homepage-container {
	margin: auto;
	display: flex;
}

.homepage-text {
	color: #2f4f4f;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	margin: auto;
}

.landingItem {
	padding: 0;
	border-radius: 1rem;
	cursor: pointer;
	height: 45vh;
	width: 30vw;
	box-shadow: 0 5px 10px rgba(22, 22, 22, 0.4);
}

.landingItemImage {
	height: 45vh;
	width: 30vw;
	margin: 0;
	border-radius: 1rem;
}

.landingItem:hover {
	transform: translateY(-4px);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(94, 51, 51, 0.3);
}

.landingItemText {
	/* position: absolute; */
	font-size: 2vw;
	padding: 0.5rem 0;
	font-family: 'Balsamiq Sans';
	z-index: 10;
	margin-top: -10rem;
	text-align: center;
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.4);
}

.footer {
	width: 100%;
	height: 8vh;
	bottom: 0;
	margin-top: 12rem;
}

.container {
	max-width: 1200px;
	position: relative;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
	margin-top: 10px;
}

.sidebar {
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
	left: 0;
	position: fixed;
	height: 100%;
	width: 16vw;
	padding-top: 70px;
	opacity: 0.9;
	background-color: #35a5a5;
}

.sidebar ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
	font-weight: bold;
	list-style: none;
	font-size: 0.5rem;
	margin-left: -3rem;
}
.sidebar ul li:hover {
	background-color: #2f4f4f;
}
.sidebar ul li {
	line-height: 1.5rem;
	width: 14vw;
	/* margin: 10px 5px; */
	padding: 0.1rem;
	padding-left: 2rem;
}
.sidebar ul a:hover {
	color: #f4f4f4;
}

.sidebar-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.5rem;
	overflow-y: auto;
	overflow-x: hidden;
	margin-left: 13rem;
	padding-top: 1rem;
	height: 80vh;
	text-align: center;
	background-color: #fff;
	/* margin-bottom: 20px; */
}
.sidebar-container .form {
	margin-left: auto;
	margin-right: auto;
}

.loginModal {
	background-color: rgba(180, 229, 248, 0.8);
	color: rgb(24, 23, 23);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 1rem;
}

.addModal {
	background-color: rgba(114, 211, 250, 0.9);
	color: rgb(24, 23, 23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	padding: 1rem;
}

.form {
	margin: auto;
	align-items: center;
	justify-content: center;
}

.appointmentCard {
	height: 70vh;
	overflow: auto;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	border-radius: 0.5rem;
	padding-top: 0.5rem;
}

.petStatCard {
	height: 5vh;
	width: 5vw;
	background-color: #fff;
	box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
		rgba(17, 17, 26, 0.1) 0px 0px 8px;
	border-radius: 0.1rem;
	padding: 0.5rem;
	margin-left: 1rem;
	font-size: 2vw;
	font-family: 'century gothic';
	font-weight: bold;
}

.seperatorLine {
	/* width: 100%; */
	background-color: rgb(2, 30, 66);
	margin: 1rem 0;
}
